.navbar-1__content__Accountsection {
  flex: 0 0 auto;
  margin: 0 0rem 0 4rem;
  max-width: 150px;
}
.navbar-1__content__Accountsection__Account__myAccount {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #fff;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif !important;
}
