.modal_dialog_coustom {
  max-width: 100%;
  pointer-events: auto;
}
.modal_container_section {
  display: flex;
  justify-content: space-between;

  /* align-items: center; */
}

.modal_container_section {
  min-width: 400px;
  max-width: 90%;
  min-height: 200px;
  max-height: 90vh;
  border-radius: 4px;
  display: flex;
  overflow: auto;
}

.modal_container_form {
  color: #212121;
  margin: 0 auto;
  border-radius: 2px;
  height: 528px;
  max-width: 700px;
  min-width: 650px;
  background-color: #2874f0;
}
.modal_info {
  color: #fff;
  padding: 40px 50px;
  font-size: 15px;
  background-image: url("https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/login_img_dec4bf.png");
  background-position: center 85%;
  background-repeat: no-repeat;
}

.modal_Heading {
  font-size: 28px;
  letter-spacing: 0;
  font-weight: 700;
}

.modal_subHeading {
  font-size: 18px;
  margin-top: 16px;
  line-height: 150%;
  color: #dbdbdb;
  font-weight: 600;
}

.modal_form {
  padding: 56px 35px 16px;
  background-color: #fff;
  color: #878787;
}

.modal_form input {
  box-shadow: inset 0 0 0 50px #fff;
  padding: 8px 10px 10px 0;
  width: 100%;
  color: #000;
  font-size: 1rem;
  background: #fff;
  border: none;
  border-bottom: 1px solid #2874f0;
}
.modal_form input:focus {
  outline: none;
}
.form_button > * {
  margin-top: 10px;
}
.form_button button {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: none;

  width: 100%;
  height: 48px;
  font-size: 15px;
  border-radius: 2px;
  font-weight: 600;
}
.form_button button:focus {
  outline: none;
}
.form_login {
  color: #fff;
  background: #fb641b;
}
.form_otp {
  color: #2874f0;
  background-color: #fff;
}

.modal_close button {
  font-size: 32px;
  color: #fff !important;
}

.modal_close button:focus {
  outline: none;
}

.modal_close button:hover {
  color: #fff;
}
