.main {
  flex-grow: 1;
  overflow: auto;
  flex-flow: column;
  display: flex;
  padding: 10px;
  overflow: hidden;
}

.sidebar__associate__content {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #f0f0f0;
}

.sidebar__associate__content__titlesection {
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: -16px;
  padding: 16px;
}

.sidebar__associate__content__titlesection__title {
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  display: inline-block;
  width: 95%;
  cursor: pointer;
}
