.navbar-1__content__MoreSection {
  flex: 0 0 auto;
  margin: 0 1rem 0 2rem;
}
.navbar-1__content__MoreSection__More__myMore {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #fff;
  cursor: pointer;
}
.navbar-1__content__MyCartSection {
  flex: 0 0 auto;
  margin: 0 4rem 0 2rem;
}
